@font-face {
  font-family: "iconfont"; /* Project id 2579165 */
  src: url('iconfont.woff2?t=1622277758537') format('woff2'),
       url('iconfont.woff?t=1622277758537') format('woff'),
       url('iconfont.ttf?t=1622277758537') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jian:before {
  content: "\e66e";
}

.icon-jia:before {
  content: "\e66f";
}

